[push]
  default = upstream
[fetch]
  prune = true
[color]
  ui = auto
[alias]
  ci = commit
  co = checkout
[core]
  editor = nvim
  excludesfile = ~/.gitignore
  autocrlf = input
[merge]
  ff = only
[pull]
  ff = only
[include]
  path = .gitconfig.local
[commit]
  template = ~/.gitmessage
[user]
	name = Shan Gardezi
	email = shangardezi@gmail.com
[github]
  user = shangardezi
[credential]
	helper = osxkeychain
[http]
	postBuffer = 1048576000
	cookiefile = /Users/shan/.gitcookies
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "strongbox"]
	clean = strongbox -clean %f
	smudge = strongbox -smudge %f
	required = true
[diff "strongbox"]
	textconv = strongbox -diff
